.navBarContainer{
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 0.5rem;
}

.navbarList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    list-style-type: none;
    color: black;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.navbarList a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    text-align: center;
    padding: 0.8rem;
}   
.overlapContainer{
    position: absolute;
    z-index: 999;
    background-color: rgb(223, 220, 220);
    color: black;
    width: 20%;
    margin: auto;
    text-align: left;
    margin-left: 19rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    /* From https://css.glass */
    background: rgba(233, 233, 233, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(233, 233, 233, 0.39);
}

.overlapContainerList{
    list-style: none;
}

.overlapContainerList li{
    padding: 0.3rem;
}

.overlapContainerList a{
    text-decoration: none;
    color: black;
}

.icon{
    transition: transform 0.5s;
}

.iconOpen{
    transform: rotate(180deg);
}

.overlayContainer{
    position: absolute;
    border: none;
    width: 23%;
    text-align: center;
    margin-left: 48%;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    /* From https://css.glass */
    background: rgba(180, 179, 179, 0.28);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(180, 179, 179, 0.39);
}

.overlapContainerInnerDiv{
    display: flex;
    padding: 1rem;
}
.overlapContainerImage{
    width: 35%;
    border-radius: 0.6rem;
    justify-content: flex-end;
}
